<div class="card rounded-3" style="background-color: #f0f0f0;">
    <div class="card-body p-4">
        <!-- Title -->
        <h2 class="fs-6">Lista de tareas</h2>
        <p class="mb-2"><strong>Acuerdos de equipo</strong></p>
        <p class="text-muted pb-2">22/09/2023 • AS221 - TEI</p>

        <!-- Input text para agregar tarea -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Agregar tarea" aria-label="Agregar tarea"
                aria-describedby="btn-add-task" [(ngModel)]="newTask" />
            <button class="btn btn-primary" type="button" id="btn-add-task" (click)="addTask()">Agregar</button>
        </div>

        <!-- Input text para búsqueda -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar tarea" aria-label="Buscar tarea"
                aria-describedby="btn-search" [(ngModel)]="searchTerm" (input)="filterTasks()" />
        </div>

        <!-- Lista de tareas -->
        <ul class="list-group mb-0" *ngIf="filteredTasks.length > 0; else noDataTpl">
            <li *ngFor="let task of filteredTasks; let i = index"
                class="list-group-item d-flex justify-content-between align-items-center border-0 mb-2 rounded"
                [ngClass]="{'completed-task': task.completed, 'editable-task': editableId === i}">
                <div>
                    <input class="form-check-input me-2" type="checkbox" [(ngModel)]="task.completed"
                        (change)="updateTask(task, task.title)" />
                    <span *ngIf="editableId !== i; else editableCell"
                        [ngClass]="{'text-decoration-line-through': task.completed}" (dblclick)="startEdit(i)">
                        {{ task.title }}
                    </span>
                    <ng-template #editableCell>
                        <input class="px-2" type="text" #editInput [value]="task.title"
                            (blur)="stopEdit(task, editInput.value)" (keyup.enter)="stopEdit(task, editInput.value)" />
                    </ng-template>
                </div>
                <div class="btn-delete-task cursor-pointer" (click)="deleteTask(task)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                    </svg>
                </div>
            </li>
        </ul>

        <!-- No Data Template (Resultados de Búsqueda) -->
        <ng-template #noDataTpl>
            <div class="d-flex flex-column align-items-center">
                <img *ngIf="searchTerm.length > 0; else emptyImage"
                    src="https://i.kym-cdn.com/photos/images/original/001/840/104/c0d.png"
                    width="200" height="200" alt="No se encontraron resultados" />
                <span class="fs-6 text-secondary" *ngIf="searchTerm.length > 0; else emptyText">
                    No se encontraron resultados para "{{ searchTerm }}"
                </span>
            </div>
        </ng-template>

        <!-- No Data Template (Imagen Vacia) -->
        <ng-template #emptyImage>
            <img src="assets/svgs/undraw_clean_up_re_504g.svg" width="200" height="200"
                alt="No se encontraron resultados" />
        </ng-template>

        <!-- No Data Template (Texto Vacío) -->
        <ng-template #emptyText>
            <span class="fs-6 text-secondary">No se encontraron tareas</span>
        </ng-template>
    </div>
</div>